<!-- The signup form -->
<div *ngIf="!name">
  <app-register></app-register>
</div>
<h1>User List</h1>
<table>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>User Mail</th>
    <!-- Add more columns here as needed -->
  </tr>
  <tr *ngFor="let user of userList">
    <td>{{ user.userId }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.userMail }}</td>
    <!-- Add more columns here as needed -->
  </tr>
</table>
<!-- The chat components -->
<div *ngIf="name">
  <div id="main-content" class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="connect">WebSocket connection:</label>
            <button (click)="connect()" class="btn btn-default" type="button">Connect</button>
            <button (click)="disconnect()" class="btn btn-default" type="button">Disconnect</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="recipient">Select recipient:</label>
            <select [(ngModel)]="selectedRecipient" class="form-control" name="recipient">
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message">Enter your message:</label>
            <input type="text" [(ngModel)]="messageContent" class="form-control" name="message"> <br>
          </div>
          <button (click)="sendInvitation()" class="btn btn-default" type="button">Send Invitation</button>
          <button (click)="sendMessage()" class="btn btn-default" type="button">Send Message</button>
        </form>
      </div>
     


      
      <!-- <div>
        <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="searchUsers()" placeholder="Search for users">
        <button (click)="searchUsers()">Search</button>
      </div>
      
      Display search results 
      <div *ngIf="searchResults.length > 0">
        <h2>Search Results:</h2>
        <ul>
          <li *ngFor="let user of searchResults">
            {{ user.name }} ({{ user.userName }})
            <button (click)="sendInvitationn(user)">Invite</button>
          </li>
        </ul>
      </div>-->
       <!-- Search bar -->
    <div>
      <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="searchUsers()" placeholder="Search for users">
      <button (click)="searchUsers()">Search</button>
    </div>
 <!-- Display the chat messages -->
 <div *ngIf="messages.length > 0">
  <h2>Chat Messages:</h2>
  <ul>
    <li *ngFor="let message of messages">
      <strong>{{ message.sender }}</strong>: {{ message.content }}
    </li>
  </ul>
</div>
<p> {{ greeting }}</p>
    <!-- Display search results -->
    <div *ngIf="searchResults.length > 0">
      <h2>Search Results:</h2>
      <ul>
        <li *ngFor="let user of searchResults">
          {{ user.userName }}
          <button (click)="sendInvitationn(user)">Invite</button>
        </li>
      </ul>
    </div>



    </div>
  </div>
</div>